@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f4f6f9;
}

/* HEADER */
header {
    background: #1e2a78;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 20px;
}

header .user-info {
    font-size: 14px;
}

/* MAIN CONTENT */
.content {
    flex: 1;
    padding: 30px;
}

/* FOOTER */
footer {
    background: #1e2a78;
    color: white;
    text-align: center;
    padding: 10px;
}

/* BUTTON */
.logout-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.logout-btn:hover {
    background: darkred;
}